@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
body {
    background-color: #6f1d1b;    
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bb9457;
    display: grid;
    grid-template-columns: auto; 
    align-items: center; 
}

nav a:hover {
    background-color: #432818;
    color: rgb(244, 238, 238);
}

#content {
    max-width: 1600px;
    margin: auto;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center; 

}

nav a {
    text-align: center;
    background-color: #99582a;
    color: #080502;
    text-decoration: none;
    padding: 5px 100px;
    margin: 5px; 
    
}

.Logo {
    width: 80px;
    margin-bottom: 10px; 
}

footer {
    background-color: #bb9457;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.social i {
    font-size: 40px; 
}

footer .social img {
    width: 20px;
    height: auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/*products*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #bb9457;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ffe6a7;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
.price {
    color: rgb(225, 43, 43);
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}
@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        margin: 5px; 
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
